*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}
@font-face {
  font-family: 'KorolevLight';
  src: url('assets/KorolevLight.woff') format('woff');
}
body{
	min-width: 100%;
	height: 100%;
	background-image: url(assets/modelofundo.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10px;
}

@media(max-width: 768px){
	body{
		background-image:url(assets/fundoedit.png);
	}
}
header{
	height: 1000px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	font-family: 'Comfortaa', cursive;
}
.headerLogo--img{
	width: 350px;
	height: 350px;
}
@media (max-width: 768px){
	header{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 30px;
	}
	.headerLogo--img{
		width: 100px;
		height: 100px;
		margin: 0;
	}
}
.headerMenu{
	width: 500px;
	height: 300px;
	margin-top: 30px;
}
.headerMenu ul{
	width: 500px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
}
@media (max-width: 768px){
	.headerMenu{
		position: absolute;
		top: 10vh;
		left: 75vw;
		visibility: hidden;
	}
	.headerMenu ul{
		width: 80px;
		height: 250px;
		flex-direction: column;
		justify-content: space-around;
	}
}
.headerMenu--circles{
	width: 130px;
	height: 130px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(assets/img_menu.svg);
	background-repeat: no-repeat;
}
.headerMenu--circles a{
	color: #FFFFFF;
	font-size: 22px;
	font-weight: bold;
}
@media (max-width: 768px){
	.headerMenu--circles{
		width: 70px;
		height: 70px;
	}
	.headerMenu--circles a{
		font-size: 10px;
	}
}
.headerTitle{
	width: 100vw;
	font-size: 64px;
	text-align: center;
	color: #FFFFFF;
}
@media (max-width: 768px){
	.headerTitle{
		margin: 10px;
		font-size: 32px;
	}
}
main{
	width: 100%;
	height: 1600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.fifthcircle{
	width: 800px;
	height: 800px;
	position: absolute;
	top: 900px;
	right: 0px;
	background-image: linear-gradient(to right, rgba(45, 17, 188, 0.8), rgba(177, 36, 210, 0.8));
	opacity: 0.8;
	z-index: -1;
	clip-path: circle(50% at 60% 50%);
}
@media(max-width: 768px){
	.fifthcircle{
		width: 600px;
		height: 600px;
		right: -420px;
	}
}
.main__sobreContainer{
	width: 100vw;
	height: 400px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: row;
}
@media(max-width: 768px){
	.main__sobreContainer{
		width: 80%;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}
}
.main__sobreContainer--title{
	width: 80vw;
	height: 100px;
	text-align: left;
	font-family: 'Comfortaa', cursive;
	font-size: 3.5rem;
	color: #FFFFFF;
}
@media (max-width: 768px){
	.main__sobreContainer--title{
		font-size: 48px;
	}
}
.main__sobreContainer--text{
	width: 510px;
	height: 100%;
	font-size: 26px;
	font-family: KorolevLight;
	word-spacing: 5px;
	margin-left: 200px;
	line-height: 1.5;
	color: #FFFFFF;
}
@media(max-width: 768px){
	.main__sobreContainer--text{
		font-size: 30px;
	}
}
.main__sobreContainer--imgs{
	display: flex;
	justify-content: center;
}
.main-img_girls{
	width: 500px;
	height: 300px;
}
.main__atividadesContainer{
	width: 80vw;
	height: 600px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.main__atividadesContainer--img{
	width: 300px;
	height: 300px;
}
.main__atividadesContainer--img img{
	width: 300px;
	height: 300px;
	border-radius: 50%;
}
.main__atividadesContainer--title{
	width: 70%;
	color: #FFFFFF;
	align-self: flex-end;
	padding: 100px;
	font-size: 64px;
	font-family: 'Comfortaa', cursive;
}
.main__atividadesContainer--ativs{
	width: 150px;
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.main__atividadesContainer--ativs img{
	width: 100px;
	height: 100px;
}
.main__atividadesContainer p{
	font-size: 28px;
	color: white;
}
.sixthcircle{
	width: 1000px;
	height: 1000px;
	position: absolute;
	top: 1700px;
	right: 0;
	background-image: linear-gradient(to right, rgba(0, 255, 203, 0.8) 10%, rgba(251, 38, 202, 0.8));
	clip-path: circle(50% at 85% 50%);
	z-index: -1;
}
.seventhcircle{
	width: 1050px;
	height: 1050px;
	position: absolute;
	top: 1890px;
	left: 0;
	background-image: linear-gradient(to bottom, rgba(255, 248, 42, 0.8), rgba(251, 38, 202, 0.8));
	clip-path: circle(50% at 45% 50%);
	z-index: -1;
}
footer{
    width: 100%;
    height: 100%;
    background-color: blue;
}
.footer__contactBox{
        width: 1111px;
        text-align: left;
        line-height: 1.5;
}
.footer__contactBox--title{
        font-size: 40px;
        font-family: 'Comfortaa', cursive;
        position: relative;
        left: 250px;
}
.footer__contactBox--firsttext{
        font-size: 26px;
        font-family: 'Indie Flower', cursive;
        width: 1010px;
        height: 83px;
        position: relative;
        left: 250px;
}
.footer__contactBox--secondtext{ 
        position: relative;
        left: 530px;
        font-family: 'Rubik', sans-serif;
        font-size: 20px;
        top: 50px;
        color: #FFDB39;
 }
 .footer__title-1{
         font-family: 'Comfortaa', cursive;
         position: relative;
         left: 900
 }
 .footer__contactBox--img{
    width: 350px;
    height: 350px;
    position: relative;
    left: 80px;
 }
.footer__fundation--img{
    width: 100px;
    height: 100px;
    position: relative;
    left:1000px;
    top: 10px;
}
.footer__educap--img{
    width: 100px;
    height: 100px;
    position: relative;
    left: 999px;
    top: 10px;
}